

/* Calendário */
	.jCalendar {width: 100%; margin: 15px 0 0;border-spacing:0; clear:both; font-size:13px; table-layout:fixed;}
	.jCalendar th,
	.jCalendar tr,
	.jCalendar td {padding: 0;}
	.jCalendar th a {background-color:#EDEDED; color:#393939;}
	.jCalendar th a,
	.jCalendar td a {font-size:11px; display:block; height:17px; margin:0; line-height:17px; text-align:center; width:17px;}
	.jCalendar tr th:first-child a,
	.jCalendar tr td:first-child a {margin-left:0;}
	.jCalendar td.today a,
	.jCalendar td.today a:hover,
	.jCalendar td.selected a,
	.jCalendar td.selected a:hover,
	.jCalendar td.selected.dp-hover a {background-color:transparent; color:#CC092F; cursor:auto;}
	.jCalendar td a:hover {background-color:#CC092F; color:#FFF;}
	.jCalendar td.other-month a,
	.jCalendar td.other-month a:hover,
	.jCalendar td.disabled a,
	.jCalendar td.disabled a:hover {background-color:transparent; color:#BFBFBF;}
	.jCalendar td.disabled a,
	.jCalendar td.disabled a:hover {cursor:default;}
	.jCalendar td.dp-hover,
	.jCalendar tr.activeWeekHover td {}
	.jCalendar tr.selectedWeek td {}
	.jCalendar td.disabled, 
	.jCalendar td.disabled.dp-hover {}
	.jCalendar td.unselectable,
	.jCalendar td.unselectable:hover,
	.jCalendar td.unselectable.dp-hover {}

	.dp-popup > div {
		background: #FFF; /* Fallback */
		background: -webkit-linear-gradient(top,  #FFF 90%, #FBFBFB 95%, #F6F6F6 100%);/* Chrome10+, Safari5.1+ */
		background:    -moz-linear-gradient(top, #FFF 90%, #FBFBFB 95%, #F6F6F6 100%);/* FF3.6+ */
		background:     -ms-linear-gradient(top,  #FFF 0%, #FBFBFB 95%, #F6F6F6 100%); /* IE10+ */
		background:      -o-linear-gradient(top,  #FFF 0%, #FBFBFB 95%, #F6F6F6 100%); /* Opera 11.10+ */
		background:        -webkit-gradient(linear, left top, left bottom, color-stop(90%, #FFF), color-stop(95%, #FBFBFB) color-stop(100%, #F6F6F6));/* Chrome, Safari4+ */
		background:         linear-gradient(top,  #FFF 0%, #FBFBFB 95%, #F6F6F6 100%); /* W3C */
		border:1px solid #ECECEC;
		border-bottom:1px solid #C5C5C5;
		border-radius:4px;
		padding:10px;

		position:relative;
		width:165px;
		z-index:2;
	}

	#dp-popup .dp-popup:after {border-radius:4px; box-shadow:0 0 1px 1px rgba(0, 0, 0, .1); bottom:0; content:" "; display:block; left:1px; position:absolute; top:2px; right:1px; z-index:1;}

	#dp-popup {position:absolute; z-index:99999;}
	.dp-popup a {color:#393939; text-decoration:none;}
	.dp-popup .disabled {color:#AAA; cursor:default;}
	.dp-popup {color:#393939;}
	.dp-popup .dp-date-formated {display:block; font-size:11px; padding:14px 0 7px; text-align:center;}
	.dp-popup .combo-month,
	.dp-popup .combo-year {background-color:#EDEDED; border-color:#C5C5C5 #EDEDED #EDEDED #C5C5C5; border-style:solid; border-width:1px; color:#393939; height:25px; font-size:12px; margin-bottom:7px; padding:2px;}
	.dp-popup .combo-month {float:left; width:86px;}
	.dp-popup .combo-year {float:right; width:61px;}

	#calendario-mes .dp-popup > div {width:710px; background: none; border:none; padding: 0;}
	#calendario-mes .dp-popup .wrap-combos {display: none;}
	#calendario-mes table {border-collapse: separate;}
	#calendario-mes tbody tr:first-child td {border-top: 1px solid #e4e4e4;}
	#calendario-mes tbody tr td:first-child {border-left: 1px solid #e4e4e4;}
	#calendario-mes tr:first-child td:first-child { 
		-wekit-border-radius: 3px 0 0 0;
		-khtml-border-radius: 3px 0 0 0;
		  -moz-border-radius: 3px 0 0 0;
		   -ms-border-radius: 3px 0 0 0;
		    -o-border-radius: 3px 0 0 0;
		       border-radius: 3px 0 0 0;
	}
	#calendario-mes tr:first-child td:last-child { 
		-wekit-border-radius: 0 3px 0 0;
		-khtml-border-radius: 0 3px 0 0;
		  -moz-border-radius: 0 3px 0 0;
		   -ms-border-radius: 0 3px 0 0;
		    -o-border-radius: 0 3px 0 0;
		       border-radius: 0 3px 0 0;
	}
	#calendario-mes tr:last-child td:last-child { 
		-wekit-border-radius: 0 0 3px 0;
		-khtml-border-radius: 0 0 3px 0;
		  -moz-border-radius: 0 0 3px 0;
		   -ms-border-radius: 0 0 3px 0;
		    -o-border-radius: 0 0 3px 0;
		       border-radius: 0 0 3px 0;
	}
	#calendario-mes tr:last-child td:first-child { 
		-wekit-border-radius: 0 0 0 3px;
		-khtml-border-radius: 0 0 0 3px;
		  -moz-border-radius: 0 0 0 3px;
		   -ms-border-radius: 0 0 0 3px;
		    -o-border-radius: 0 0 0 3px;
		       border-radius: 0 0 0 3px;
	}
	#calendario-mes thead th {text-align: center;}
	#calendario-mes thead th a {width: auto; background: none; cursor: default; display: inline-block;}
	#calendario-mes tbody {background: #fcfcfc;}
	#calendario-mes tbody td {width:100px; height: 100px; padding: 0; border-bottom: 1px solid #e4e4e4;  border-right: 1px solid #e4e4e4;}
	#calendario-mes tbody td a {display: inline-block;}
	#calendario-mes tbody td a:hover {background: none; text-decoration: none;}
	#calendario-mes tbody td .label-dia {cursor: default; font: italic 18px Georgia, serif; color: #999; float: right;}
	#calendario-mes tbody td .lnk-evento {width: 70px; height: auto; font-size: 11px; text-align: left; margin: -15px 0 20px;}
	#calendario-mes tbody td .lnk-evento:hover {text-decoration: underline; color: #393939;}
	#calendario-mes tbody td .lnk-evento span {display: block;}
	#calendario-mes tbody td .titulo-evento {font-weight: bold;}
	#calendario-mes tbody td .wrap-day {width: 72px; height: 80px; padding: 10px;}
	#calendario-mes tbody td .evento-passado {background-color: #f4e4eb; border-left: 8px solid #ab1355;}
	#calendario-mes tbody td .evento-passado .label-dia {color: #ab1355;}
	#calendario-mes tbody td .evento-hoje {background-color: #f8f4e2; border-left: 8px solid #d8aa00;}
	#calendario-mes tbody td .evento-hoje .label-dia {color: #d8aa00;}
	#calendario-mes tbody td .evento-futuro {background-color: #e7f4e8; border-left: 8px solid #2fb135;}
	#calendario-mes tbody td .evento-futuro .label-dia {color: #2fb135;}
	#calendario-mes tbody td .tooltip-evento {width: 193px; min-height: 100px; position: absolute; border: 1px solid #e4e4e4; border-top: none; border-left: none; display: none; box-shadow:0 6px 5px 0 rgba(0, 0, 0, 0.25);}
	#calendario-mes tbody td .tooltip-evento .content-tooltip {min-height: 76px; padding: 9px 10px 15px;}
	#calendario-mes tbody td .tooltip-evento .lnk-evento {width: auto; font-size: 11px; display:block; margin: 7px 0 0;}
	#calendario-mes tbody td .tooltip-evento .lnk-agenda {width: auto; color: #00539f; margin: 0 0 3px;}
	#calendario-mes tbody td .tooltip-evento .lnk-agenda:hover {text-decoration: underline;}
	#calendario-mes tbody td .evento-passado .tooltip-evento .content-tooltip {background-color: #f4e4eb; border-left: 8px solid #ab1355;}
	#calendario-mes tbody td .evento-hoje .tooltip-evento .content-tooltip {background-color: #f8f4e2; border-left: 8px solid #d8aa00;}
	#calendario-mes tbody td .evento-futuro .tooltip-evento .content-tooltip {background-color: #e7f4e8; border-left: 8px solid #2fb135;}
	#calendario-mes .dp-date-formated {display: none;}
	.lt-ie8 #calendario-mes table {border-collapse: collapse;}
	.lt-ie8 #calendario-mes tbody tr td {border: 1px solid #e4e4e4;}

	#calendario-dia table {width: 710px; border-collapse: separate;}
	#calendario-dia tr:first-child td { 
		-wekit-border-radius: 3px 3px 0 0;
		-khtml-border-radius: 3px 3px 0 0;
		  -moz-border-radius: 3px 3px 0 0;
		   -ms-border-radius: 3px 3px 0 0;
		    -o-border-radius: 3px 3px 0 0;
		       border-radius: 3px 3px 0 0;
	}
	#calendario-dia tr:last-child td { 
		-wekit-border-radius: 0 0 3px 3px;
		-khtml-border-radius: 0 0 3px 3px;
		  -moz-border-radius: 0 0 3px 3px;
		   -ms-border-radius: 0 0 3px 3px;
		    -o-border-radius: 0 0 3px 3px;
		       border-radius: 0 0 3px 3px;
	}
	#calendario-dia table th {font-size: 11px; font-weight: normal;}
	#calendario-dia thead th {padding-bottom: 5px;}
	#calendario-dia tbody th {width: 30px; height: 22px; color: #999; padding-top: 3px; vertical-align: top;}
	#calendario-dia tbody td {width: 680px; background-color: #fcfcfc; overflow: hidden; border-bottom: 1px solid #e4e4e4; border-left: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4;}
	#calendario-dia tbody tr:first-child td {border-top: 1px solid #e4e4e4;}
	#calendario-dia tbody .wrap-evento {width: 100%; min-height: 15px; border-top: 1px solid #fff;}
	#calendario-dia tbody .wrap-evento .content {min-height: 15px; padding: 5px 20px 5px 10px;}
	#calendario-dia tbody .wrap-evento .content a {font-size: 11px;}
	#calendario-dia tbody .wrap-evento .content .lnk-evento {max-width: 500px; font-weight: bold; color: #393939; float: left;}
	#calendario-dia tbody .wrap-evento .content .lnk-agenda {float: right;}
	#calendario-dia tbody .hoje .content {background-color: #f8f4e2; border-left: 8px solid #d8aa00;}
	#calendario-dia tbody .aconteceu .content {background-color: #f4e4eb; border-left: 8px solid #ab1355;}
	#calendario-dia tbody .programe-se .content {background-color: #e7f4e8; border-left: 8px solid #2fb135;}
	#calendario-dia tbody td .wrap-evento:first-child {border-top: none;}
	.lt-ie8 #calendario-dia table {border-collapse: collapse;}
	.lt-ie8 #calendario-dia tbody tr td {border: 1px solid #e4e4e4;}

	#calendario-semana table {width: 710px; border-collapse: separate;}
	#calendario-semana tr:first-child th + td { 
		-wekit-border-radius: 3px 0 0 0;
		-khtml-border-radius: 3px 0 0 0;
		  -moz-border-radius: 3px 0 0 0;
		   -ms-border-radius: 3px 0 0 0;
		    -o-border-radius: 3px 0 0 0;
		       border-radius: 3px 0 0 0;
	}
	#calendario-semana tr:first-child td:last-child { 
		-wekit-border-radius: 0 3px 0 0;
		-khtml-border-radius: 0 3px 0 0;
		  -moz-border-radius: 0 3px 0 0;
		   -ms-border-radius: 0 3px 0 0;
		    -o-border-radius: 0 3px 0 0;
		       border-radius: 0 3px 0 0;
	}
	#calendario-semana tr:last-child td:last-child { 
		-wekit-border-radius: 0 0 3px 0;
		-khtml-border-radius: 0 0 3px 0;
		  -moz-border-radius: 0 0 3px 0;
		   -ms-border-radius: 0 0 3px 0;
		    -o-border-radius: 0 0 3px 0;
		       border-radius: 0 0 3px 0;
	}
	#calendario-semana tr:last-child th + td { 
		-wekit-border-radius: 0 0 0 3px;
		-khtml-border-radius: 0 0 0 3px;
		  -moz-border-radius: 0 0 0 3px;
		   -ms-border-radius: 0 0 0 3px;
		    -o-border-radius: 0 0 0 3px;
		       border-radius: 0 0 0 3px;
	}
	#calendario-semana table th {color: #999; font-weight: normal;}
	#calendario-semana thead th {font-size: 11px; padding-bottom: 5px;}
	#calendario-semana thead th.active {color: #393939;}
	#calendario-semana tbody th {width: 30px; height: 22px; font-size: 10px; padding-top: 3px; vertical-align: top;}
	#calendario-semana tbody td {width: 95px; background-color: #fcfcfc; overflow: hidden; border-bottom: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4;}
	#calendario-semana tbody td.hoje {background-color: #f2f2f2;}
	#calendario-semana tbody tr:first-child td {border-top: 1px solid #e4e4e4;}
	#calendario-semana tbody tr th + td {border-left: 1px solid #e4e4e4;}
	#calendario-semana tbody .wrap-evento {width: 100%; min-height: 15px; border-top: 1px solid #fff;}
	#calendario-semana tbody .wrap-evento .content {min-height: 17px; padding: 3px 10px 5px;}
	#calendario-semana tbody .wrap-evento .content a {font-size: 11px;}
	#calendario-semana tbody .hoje .content {background-color: #f8f4e2; border-left: 8px solid #d8aa00;}
	#calendario-semana tbody .aconteceu .content {background-color: #f4e4eb; border-left: 8px solid #ab1355;}
	#calendario-semana tbody .programe-se .content {background-color: #e7f4e8; border-left: 8px solid #2fb135;}
	#calendario-semana tbody td .wrap-evento:first-child {border-top: none;}
	#calendario-semana tbody td .tooltip-evento {position: absolute; border: 1px solid #e4e4e4; display: none; box-shadow:0 6px 5px 0 rgba(0, 0, 0, 0.25);}
	#calendario-semana tbody td .tooltip-evento .evento-tooltip {border-top: 1px solid #fff;}
	#calendario-semana tbody td .tooltip-evento .evento-tooltip:first-child {border-top: none;}
	#calendario-semana tbody td .tooltip-evento .evento-tooltip a {font-size: 11px; display: block;}
	#calendario-semana tbody td .tooltip-evento .evento-tooltip .content {padding: 5px 10px 7px;}
	#calendario-semana tbody td .tooltip-evento .evento-tooltip .lnk-evento {color: #393939; font-weight: bold;}
	#calendario-semana tbody td .tooltip-evento .evento-tooltip .lnk-agenda {margin-top: 2px;}
	.lt-ie8 #calendario-semana table {border-collapse: collapse;}
	.lt-ie8 #calendario-semana tbody tr td {border: 1px solid #e4e4e4;}

/* Calendário */