<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="BradescoExpresso" connectionString="Persist Security Info=True;User ID=sa;Password=webf1234;Initial Catalog=DBNardys;Data Source=DESKTOP-AEH6QB1\SQLEXPRESS;Pooling=true;Connection Lifetime=60;Connect Timeout=60;Max Pool Size=100;" providerName="System.Data.SqlClient"/>-->
  <add name="BradescoExpresso" connectionString="Persist Security Info=True;User ID=sa;Password=webf1234;Initial Catalog=DBNardys;Data Source=VGEREVINI\SQLEXPRESS2014;Pooling=true;Connection Lifetime=60;Connect Timeout=60;Max Pool Size=100;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    <!-- -->
    <!--CHAVE CRIPTOGRAFIA -->
    <!--<add key="BradescoExpresso.ChaveLogin" value="BradescoExpressoLogin"/>-->
    <add key="BradescoExpresso.ChaveLogin" value="awtAk47Pt380"/>
    <!--CONFIGURACOES EMAIL-->
    <add key="HostPadrao" value="smtp.gmail.com"/>
    <add key="RemetentePadrao" value="alanrodrigues5@gmail.com"/>
    <!--TEMPLATES EMAIL-->
    <add key="BradescoExpresso.Template.Esqueci.Senha" value="Email_Templates\Esqueci_Senha.htm"/>
    <!--RESET SENHA USUÁRIOS CHECKLIST-->
    <add key="SenhaResetPadrao" value="abcd12@"/>
  </appSettings>
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Erro/Erro404.aspx?er"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" defaultUrl="~/Modulos/Default.aspx"/>
    </authentication>
    <sessionState timeout="30"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>