<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="BradescoExpresso" connectionString="Persist Security Info=True;User ID=SA;Password=;Initial Catalog=NET_BRADESCO_EXPRESSO_V2;Data Source=ALANNOTE\SQLNOTE" providerName="System.Data.SqlClient" />-->
    <add name="BradescoExpresso" connectionString="Persist Security Info=True;User ID=sa;Password=webf1234;Initial Catalog=DBNardys;Data Source=VGEREVINI\SQLEXPRESS2014;Pooling=true;Connection Lifetime=60;Connect Timeout=60;Max Pool Size=100;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    <!-- PARÂMETROS DA PÁGINA DEFAULT DE ERROS -->
    <add key="title" value="Bradesco"/>
    <add key="msgErro" value="Esta página não pode ser encontrada."/>
    <add key="msgLink" value="para acessar a página principal."/>
    <add key="dsLink" value="Clique aqui"/>
    <add key="Link" value="https://expresso.bradesco/html/index.shtm"/>
    <!-- -->
      
    <!--CHAVE CRIPTOGRAFIA -->
    <!--<add key="BradescoExpresso.ChaveLogin" value="BradescoExpressoLogin"/>-->
    <add key="BradescoExpresso.ChaveLogin" value="awtAk47Pt380"/>
    <!--CONFIGURACOES EMAIL-->
    <add key="HostPadrao" value="smtp.gmail.com"/>
    <add key="RemetentePadrao" value="alanrodrigues5@gmail.com"/>
    <!--TEMPLATES EMAIL-->
    <add key="BradescoExpresso.Template.Esqueci.Senha" value="Email_Templates\Esqueci_Senha.htm"/>
    <!--RESET SENHA USUÁRIOS CHECKLIST-->
    <add key="SenhaResetPadrao" value="abcd12@"/>
    <!--CAMINHO ARQUIVOS UPLOAD FORMULÁRIO CHECKLIST-->
    <add key="CaminhoImagensUploadCheckList" value="~/Uploads/CheckList/"/>

    <!--CONFIGURAÇÕES UPLOAD CHECKLIST-->
    <add key="FormularioCheckList.LimiteArquivoBytes" value="1048576"/>
    <add key="FormularioCheckList.RedimensionamentoLargura" value="800"/>
    <add key="FormularioCheckList.RedimensionamentoAltura" value="600"/>
    <!--PARAMETRO DE DIAS PARA VISITAS AO MESMO ESTABELECIMENTO (CHECKLIST)-->
    <add key="ParametroDiasEntreVisitas" value="120"/>
    <!--CAMINHO ARQUIVOS DOWNLOAD CHECKLIST ZIP AUTOMÁTICO-->
    <add key="CaminhoImagensDownloadCheckListZipAutomatico" value="~/Uploads/CheckList/Zip/"/>
    <!--CAMINHO ARQUIVOS PACB -->
    <add key="CaminhoPACB" value="../../uploadS/arquivos"/>
    <!--NOME DO ARQUIVO .TXT CHECKLIST-->
    <add key="NomeArquivoChecklist" value="BradescoExpressoChecklist.txt"/>
    <!--CÓDIGO PADRÃO PARA O PARCEIRO SCOPUS-->
    <add key="IDParceiroAdminScopus" value="158"/>
    <!--CAMINHO DO ARQUIVO XML PARA OS TERMOS DE ADESÃO-->
    <add key="XMLStatus" value="D:\Sites\Nardys.Intranet\App_Data\StatusTermoAdesao.xml"/>
    <!--CAMINHO DO ARQUIVO XML PARA AS ESTRUTURAS DE E-MAILS PROSPECÇÃO-->
    <add key="XMLEmailVan" value="C:\WF\TFS\Bradesco.Expresso\Main\intranetv2\App_Data\EmailVan.xml"/>
    <!--Configuração de e-mails enviado em CC de Prospecção-->
    <!--
    <add key="EmailsProspeccao.To" value="xxxx.gerencia@bradesco.com.br"/>
    <add key="EmailsProspeccao.CC" value="4920.alex@bradesco.com.br;4920.wender@bradesco.com.br"/>                                       DESCOMENTAR NA IMPLANTAÇÃO - UTILIZANDO EMAILS DE TESTE -->
    <add key="EmailsProspeccaoTeste.To" value="tiago.yoshioka@solucoes.wf"/>
    <add key="EmailsProspeccao.To" value="tiago.yoshioka@solucoes.wf"/>
    <add key="EmailsProspeccao.CC" value="testecc1@solucoes.wf;testecc2@solucoes.wf"/>
    <!--Configurações Cadastro de Prospecção-->
    <add key="ExtensoesPermitidasProspeccao" value="jpg;png;jpeg;bmp;jpe;tif;tiff;dib;gif"/>
    <add key="CaminhoDiretorioArquivosProspeccao" value="~/Uploads/Arquivos/"/>
    <!--add key="WsCEP.ServicoCep" value="http://institucional.bradesco.com.br/wsCep/ServicoCep.asmx"/-->
    <add key="WsCEP.ServicoCep" value="http://bradesco.wscep.servicos.wf/servicocep.asmx"/>
    <add key="BradescoAtendimento.redeatendimento" value="http://atendimento.bradesco.hostsag2.com.br/site/services/redeatendimento.asmx"/>
    <!--Desabilitar webservices - wsCep  e BradescoAtendimento: Habilitar para ambiente de testes, os WS não funcionam-->
    <add key="DesabilitarWS" value="false"/>
    <add key="BradescoAtendimento.redeatendimento" value="http://institucional.bradesco.com.br/netredeatendimento/site/services/redeatendimento.asmx"/>

    <!--Configurações Relatórios-->
    <add key="RelatorioProspect.NomeExcel" value="bradesco-expresso-prospeccoes.xls"/>
    <add key="RelatorioProspect.NomeCsv" value="bradesco-expresso-prospeccoes.csv"/>
    <add key="RelatorioPreProspeccao.NomeExcel" value="bradesco-expresso-preprospeccao.xls"/>
    <add key="RelatorioPreProspeccao.NomeCsv" value="bradesco-expresso-preprospeccao.csv"/>
    <add key="RelatorioOcorrencia.NomeExcel" value="bradesco-expresso-ocorrencias.xls"/>
    <add key="RelatorioOcorrencia.NomeCsv" value="bradesco-expresso-ocorrencias.csv"/>
    <add key="RelatorioOcorrenciaStatus.NomeExcel" value="bradesco-expresso-ocorrencias-status.xls"/>
    <add key="RelatorioOcorrenciaStatus.NomeCsv" value="bradesco-expresso-ocorrencias-status.csv"/>
    <add key="RelatorioConsultor.NomeExcel" value="bradescoExpresso.xls"/>
    <add key="RelatorioConsultor.NomeCsv" value="bradescoExpresso.csv"/>
    <add key="RelatorioClubeVantagem.NomeExcel" value="bradescoExpresso.xls"/>
    <add key="RelatorioClubeVantagem.NomeCsv" value="bradesco-expresso-cadastro-clubevantagens.csv"/>
    <add key="RelatorioCorrespondente.NomeExcel" value="BradescoExpressoCorrespondente.xls"/>
    <add key="RelatorioCorrespondente.NomeCsv" value="BradescoExpressoCorrespondente.csv"/>
  </appSettings>
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Erro/Erro404.aspx?er"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" defaultUrl="~/Modulos/Default.aspx"/>
    </authentication>
    <sessionState timeout="30"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>